<div class="body-contain">

  <div class="image-container">
    <img class="game-image"  alt="Logo" src="assets/img/splash.png">
  </div>
  <div class="center flex">
    <div class="flex mlrauto">
      <div>
        <img class="app-icon" src="assets/img/icon.png">
      </div>
      <div>
        <h1 class="center mt15">
          Bunny Jump - Reflex
        </h1>
        <h3 class="center"> Download our app </h3>
        <div class="center mb30">
          <a href="https://play.google.com/store/apps/details?id=org.cocos2dx.ReflezJS">
            <img class="appstore-image"  alt="Logo" src="assets/img/android_store_logo.svg">
          </a>
          <a href="https://itunes.apple.com/app/apple-store/id1434208718">
            <img class="appstore-image"  alt="Logo" src="assets/img/ios_store_logo.svg">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row center p15">


    <div class="col-6">
      <h6>Story</h6>
      <p>Bunny Jump is a simple retro action platformer. </p>
      <p>A hungry bunny is jumping through a series of cliffs in order to grab carrots to fill its stomach. </p>
    </div>

    <div class="col-6">
      <h6>Control</h6>
      <p>Touch the screen to prepare for a jump, release the touch to jump. Touch for a longer period for a further jump.  </p>
    </div>
  </div>

</div>
