<div class="body-contain">

  <div class="center flex">
    <div class="flex mlrauto">
      <div>
        <img class="app-icon" src="assets/img/icon.png">
      </div>
      <div>
        <h4>Redirecting to app store ....</h4>
        <h1 class="center mt15">
          Bunny Jump - Reflex
        </h1>
        <h5 class="center"> If redirection does not occur, download our app below</h5>
        <div class="center mb30">
          <a href="https://play.google.com/store/apps/details?id=org.cocos2dx.ReflezJS">
            <img class="appstore-image"  alt="Logo" src="assets/img/android_store_logo.svg">
          </a>
          <a href="https://itunes.apple.com/app/apple-store/id1434208718">
            <img class="appstore-image"  alt="Logo" src="assets/img/ios_store_logo.svg">
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
