html{
  overflow-x: hidden;
}

.game-image{
  display: block;
  object-fit: cover;
  width: 100%;
  height:600px;
  max-width: 1300px;
  vertical-align: middle;
}

.app-icon{
  height: 100px;
  margin: 15px;
}

.body-contain{
  margin-top: 61px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  background-color: white;
}
