html{
  overflow-x: hidden;
}/* You can add global styles to this file, and also import other style files */
body{
  background: rgba(230,230,230,1);
}
.center{
  text-align: center;
}
.flex{
  display: flex;
}
.mt15{
  margin-top: 15px;
}
.mt30{
  margin-top: 30px;
}
.mb30{
  margin-bottom: 30px;
}
.mlrauto{
  margin-left: auto;
  margin-right: auto;
}
.p15{
  padding: 15px;
}
